<mat-toolbar>
  <span>Login</span>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="loginForm">
    <div>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" >
        <mat-error *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid">
          <small *ngIf="loginForm.get('username').errors?.['required']">This field is requred</small>
          <small *ngIf="loginForm.get('username').errors?.['pattern']">Invalid email</small>
        </mat-error>
      </mat-form-field>
    </div>

   <div>
     <mat-form-field fxFlex appearance="outline">
       <mat-label>Password</mat-label>
       <input matInput formControlName="password" >
       <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
         <small *ngIf="loginForm.get('password').errors?.['required']">This field is requred</small>
       </mat-error>
     </mat-form-field>
   </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">
    <mat-icon>login</mat-icon>Login
  </button>
  <button mat-raised-button mat-dialog-close color="warn"  >
    <mat-icon>close</mat-icon>Close
  </button>
</mat-dialog-actions>
