body{
  padding: 10px;

}
.mat-elevation-z2{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.form{
  padding: 10px;
}
.row-1{
  margin-right: 8px;

}
.row-1:last-child{
  margin-right: 0;

}
