<mat-toolbar>
  <span>Forgot Password</span>
  <span class="spacer"></span>

  <button mat-icon-button mat-dialog-close>
    <mat-icon >close</mat-icon>
  </button>

</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="forgotForm" >
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="forgotForm.get('username').touched && forgotForm.get('username').invalid">
        <small *ngIf="forgotForm.get('username').errors?.['required']">This field is required</small>
        <small *ngIf="forgotForm.get('username').errors?.['pattern']">Invalid data</small>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="handleForgotPassword()" [disabled]="forgotForm.invalid"><mat-icon>send</mat-icon>Send</button>
  <button mat-dialog-close mat-raised-button color="warn"><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>
