<mat-toolbar >
  <mat-toolbar-row fxLayout="row">
    <span>Signup</span>

    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content>
 <form [formGroup]="signUpForm" >


<div fxFlex fxLayout="column">


  <mat-form-field fxFlex appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="signUpForm.controls.name.touched && signUpForm.controls.name.invalid">
      <small  *ngIf="signUpForm.controls.name.errors?.['required']">This field is requered</small>
      <small  *ngIf="signUpForm.controls.name.errors?.['pattern']">This field is invalid</small>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
    <mat-error *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.invalid">
      <small  *ngIf="signUpForm.controls.email.errors?.['required']">This field is requered</small>
      <small  *ngIf="signUpForm.controls.email.errors?.['pattern']">This field is invalid</small>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex appearance="outline">

    <mat-label>Contact Number</mat-label>
    <input matInput formControlName="contactNumber" required>
    <mat-error *ngIf="signUpForm.controls.contactNumber.touched && signUpForm.controls.contactNumber.invalid">
      <small  *ngIf="signUpForm.controls.contactNumber.errors?.['required']">This field is requered</small>
      <small  *ngIf="signUpForm.controls.contactNumber.errors?.['pattern']">This field is invalid</small>
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex appearance="outline">

    <mat-label>Password</mat-label>

    <input matInput formControlName="password" required type="password"
           class="form-control" #pw
    [type]="password?'password':'text'">
    <button type="button" mat-icon-button matSuffix (click)="password = !password"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="'password'">
      <mat-icon>{{password?'visibility_off':'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="(signUpForm.controls.password.touched || signUpForm.controls.password.dirty ) && signUpForm.controls.password.invalid">
      <small  *ngIf="signUpForm.controls.password.errors?.['required']">This field is requered</small>
<!--      <small  *ngIf="signUpForm.controls.password.errors?.['pattern']">This field is invalid</small>-->
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlex appearance="outline">

    <mat-label>Confirm Password</mat-label>

    <input matInput  formControlName="confirmPassword" required type="password"
           [type]="confirmPassowrd?'password':'text'">
    <button type="button" mat-icon-button matSuffix (click)="confirmPassowrd = !confirmPassowrd"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="'password'">
      <mat-icon>{{confirmPassowrd?'visibility_off':'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="signUpForm.get('confirmPassword').touched && signUpForm.get('confirmPassword').invalid">
      <small *ngIf="signUpForm.get('confirmPassword').hasError('required')">Password confirmation is required!</small>
      <small *ngIf="signUpForm.get('confirmPassword').hasError('not_matching') && signUpForm.get('confirmPassword').touched && signUpForm.get('confirmPassword').invalid
&& signUpForm.get('confirmPassword').dirty">The password doesn't match!</small>
    </mat-error>
  </mat-form-field>
  <mat-checkbox (change)="isChecked()">Are you admin or User ?</mat-checkbox>

<!--  <button mat-raised-button color="primary" [disabled]="signUpForm.invalid">Primary</button>-->

</div>
 </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button  mat-raised-button color="primary" (click)="handleSubmit()"  [disabled]="validator() || !(signUpForm.valid && signUpForm.dirty)"><mat-icon>save</mat-icon>Save</button>
<button  mat-raised-button mat-dialog-close color="warn"><mat-icon>close</mat-icon>Cancel</button>
</mat-dialog-actions>

