<body>
<mat-card class="matHeader">

  <div class="container">
    <b style="display: inline">Manage Category</b>

    <button (click)="handleAddAction()" mat-raised-button color="primary" style="display: inline"><mat-icon>add_circle</mat-icon>Add Category</button>

  </div>


</mat-card>

<hr>

<div>
  <mat-form-field appearance="outline" fxFlex >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>
<hr>
<div class="responsive_table">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>

    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    <ng-container matColumnDef="name">

      <th  mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element" >{{element.name}}</td>

    </ng-container>

    <ng-container matColumnDef="edit">

      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="handleEditAction(element)" ><mat-icon>edit</mat-icon></button>
      </td>

    </ng-container>


  </table>


</div>
</body>
