<mat-toolbar>
  <span>Change Password</span>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</mat-toolbar>
<mat-dialog-content>

  <form [formGroup]="changePassForm">


  <div>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Old Passowrd</mat-label>
      <input matInput formControlName="oldPassword" type="password"   [type]="old?'password':'text'">
      <button type="button" mat-icon-button matSuffix (click)="old=!old"> <mat-icon>{{old?'visibility_off':'visibility'}}</mat-icon></button>
      <mat-error *ngIf="changePassForm.get('oldPassword').touched && changePassForm.get('oldPassword').invalid">
        <small *ngIf="changePassForm.get('oldPassword').hasError('required')">This field is required!</small>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>New Passowrd</mat-label>
      <input matInput formControlName="password" type="password" [type]="password?'password':'text'">
      <button type="button" mat-icon-button matSuffix (click)="password=!password"> <mat-icon>{{password?'visibility_off':'visibility'}}</mat-icon></button>
      <mat-error  *ngIf="changePassForm.get('password').touched && changePassForm.get('password').invalid">
        <small *ngIf="changePassForm.get('password').hasError('required')">This field is required</small>
      </mat-error>
    </mat-form-field>
  </div>
<div>
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Confirm Passowrd</mat-label>
    <input matInput formControlName="confirmPassword">
    <button type="button" mat-icon-button matSuffix (click)="cp=!cp"> <mat-icon>{{cp?'visibility_off':'visibility'}}</mat-icon></button>
    <mat-error  *ngIf="changePassForm.get('confirmPassword').touched && changePassForm.get('confirmPassword').invalid">
      <small *ngIf="changePassForm.get('confirmPassword').hasError('required')">This field is required</small>
      <small *ngIf="changePassForm.get('confirmPassword').hasError('not_matching') && changePassForm.get('confirmPassword').dirty">Passowrd does not match!</small>
    </mat-error>
  </mat-form-field>
</div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="handleChangePassword()" mat-raised-button type="submit"  [disabled]="validator() || !(changePassForm.valid && changePassForm.dirty)" color="primary"><mat-icon>send</mat-icon>Send</button>
  <button  mat-raised-button mat-dialog-close color="warn"><mat-icon>close</mat-icon>Cancel</button>

</mat-dialog-actions>

