body{
  padding: 10px;
  //margin: 16px;

}
* {
  box-sizing: border-box;
}
.btn{
 width: 80%;
  position: absolute;
  bottom: 10px;
}

.row{
  display: flex;
}
.title{
  width: 100%;
  padding: 16px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;

  .card {
    position: relative;
    width: 200px;
    min-height: 20%;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
  }
}




