<div class="bg-image"></div>
<app-best-saller></app-best-saller>
<div class="wrapper sticky">
 <nav class="navbar-fixed-top">
   <a href="#" class="logo">
     <mat-icon>storefront</mat-icon>Cafe Management System
   </a>
   <ul>
     <li>
       <a (click)="handleLogin()">Login</a>
     </li>
     <li>
       <a (click)="handleSignUpAction()">Signup</a>
     </li>
     <li>
       <a (click)="handleForgotPasswordAction()">Forgot Password</a>
     </li> <li>
       <a (click)="logout()">Logout</a>
     </li>

   </ul>

 </nav>
</div>


<div class="footer" id="signup">
  <h2>All right reserved </h2>
</div>
